.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
    justify-content: center;
  }
  .text-footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    margin-bottom:1rem;
  }
  .bg-danger{
    background-color: #0c0c0c!important;
  }
  .nav-link{
    color:white;
    font-family: cursive;
    font-size: larger;
  }
  .heading{
    font-size: x-large;
    font-family:cursive;
    text-align: center;
  }
  body{
    background: url('../img/.jpg') ;
    background-size: cover;
 }

  