.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
    justify-content: center;
  }
  .text-footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    margin-bottom:1rem;
  }
  .bg-danger{
    background-color: #0c0c0c!important;
  }
  .nav-link{
    color:white;
    font-family: cursive;
    font-size: larger;
  }
  .heading{
    font-size: x-large;
    font-family:cursive;
    text-align: center;
  }
  .link li{
    list-style: none;
    padding :26px 30px;
    
}
.link li a{
  text-decoration: none;
  color:rgb(77, 75, 75);
  font-size:20px;

}
.link li a:hover{
  text-decoration: none;
  color:rgb(33, 30, 30);
  font-size:20px;

}

  body{
    
    background-size: cover;
 }
.questionnaire{
    color:white;
}
.Login-form{
  width: max-content;
  top:50%;
  left:50%;
  position: absolute;
  transform:translate(-50%,-50%);
  color:black;
  padding: 95px 44px;
  background-color: rgb(235, 241, 241);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Login-form h2{
  text-align:center ;
  margin-bottom: 10%
  
}

.Login-form p{
  margin-top:10px;
  margin-bottom: 3px;
  font-size: 22px;
}
.Login-form input{
  font-size:18px;
  width:100%;
  padding:5px 0px;
}
.Login-form button{
  margin-top: 30px;
  align-items: center;
  font-size: 20px;
  padding: 6px 90px;
  margin-left:22%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 32%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 26px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top:20px;
}
.container_background{
  padding-top: 30px;

}
